language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  - SYMFONY_VERSION='2.7.*'

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.3
      dist: precise
      env: DEPS='lowest' SYMFONY_DEPRECATIONS_HELPER='666'
    - php: 5.6
      env: DEPS='unmodified'
    - php: 5.6
      env: SYMFONY_VERSION='2.8.*'
    - php: 5.6
      env: SYMFONY_VERSION='3.2.*'
    - php: 5.6
      env: SYMFONY_VERSION='3.3.*'
    - php: 5.6
      env: SYMFONY_VERSION='3.4.*'
    - php: 7.1
      env: SYMFONY_VERSION='4.0.*'
    - php: 7.1
      env: SYMFONY_VERSION='4.1.*' MIN_STABILITY='dev'
  allow_failures:
    - env: SYMFONY_VERSION='4.1.*' MIN_STABILITY='dev'
  fast_finish: true

services:
  - postgresql

install:
  # disable Xdebug for better Composer performance
  - if [ "${TRAVIS_PHP_VERSION}" != 'hhvm' ]; then phpenv config-rm xdebug.ini; fi;
  # set unlimited memory_limit
  - if [ "${TRAVIS_PHP_VERSION}" != 'hhvm' ]; then INI_FILE=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; else INI_FILE=/etc/hhvm/php.ini; fi;
  - echo "memory_limit = -1" >> "${INI_FILE}"
  # install dependencies using Composer
  - travis_wait bash .travis_install_dependencies.sh
  # show installed dependencies
  - composer show

before_script:
  # set up MySQL
  - mysql -u root -e 'CREATE DATABASE IF NOT EXISTS test;'
  - mysql -u root -e 'GRANT USAGE ON *.* TO "travis"@"localhost"; DROP USER "travis"@"localhost";'
  - mysql -u root -e 'CREATE USER "travis"@"localhost" IDENTIFIED BY PASSWORD "";'
  - mysql -u root -e 'GRANT ALL ON test.* TO "travis"@"localhost"; FLUSH PRIVILEGES;'
  # set up PostgreSQL
  - psql -c 'create database test;' -U postgres

script:
  # validate composer.json
  - composer validate --strict --no-check-lock
  # run PHPUnit
  - vendor/bin/phpunit -v

notifications:
  email:
    on_success: always
    on_failure: always

# use container-based infrastructure
sudo: false

# cache Composer's package cache
cache:
  directories:
    - $HOME/.composer/cache/files
    - vendor
