parameters:
	level: 5
	paths:
		- .
	excludes_analyse:
		- Tests/*
		- vendor/*
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\)\.$#'
			path: DependencyInjection/Configuration.php
		-
			message: '#Parameter \$manager of method Craue\\GeoBundle\\Doctrine\\Fixtures\\GeonamesPostalCodeData::(getRepository|clearPostalCodesTable|addEntries)\(\) has invalid typehint type Doctrine\\Common\\Persistence\\ObjectManager\.$#'
			path: Doctrine/Fixtures/GeonamesPostalCodeData.php
		-
			message: '#Return typehint of method Craue\\GeoBundle\\Doctrine\\Fixtures\\GeonamesPostalCodeData::getRepository\(\) has invalid type Doctrine\\Common\\Persistence\\ObjectRepository\.$#'
			path: Doctrine/Fixtures/GeonamesPostalCodeData.php
