parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	paths:
		- .
	excludePaths:
		- Tests/*
		- vendor/*
	ignoreErrors:
		-
			message: '#^Parameter \$manager of method Craue\\GeoBundle\\Doctrine\\Fixtures\\GeonamesPostalCodeData::(getRepository|clearPostalCodesTable|addEntries)\(\) has invalid type Doctrine\\Common\\Persistence\\ObjectManager\.$#'
			path: Doctrine/Fixtures/GeonamesPostalCodeData.php
		-
			message: '#^Method Craue\\GeoBundle\\Doctrine\\Fixtures\\GeonamesPostalCodeData::getRepository\(\) has invalid return type Doctrine\\Common\\Persistence\\ObjectRepository\.$#'
			path: Doctrine/Fixtures/GeonamesPostalCodeData.php
